<div class="col-sm-8 col-md-8">
    <div class="row">
        <div class="col-sm-4 col-md-4" *ngFor="let r of roomList, let i=index">
            <div class="thumbnail">
                <img src="{{ r.img }}" alt="Product">
                <div class="caption">
                    <p>{{r.id}}</p>
                    <b class="pull-right">$ {{ r.price }} /night</b>
                    <h5>{{ r.type }}</h5>
                    <p>{{ r.desc }}</p>
                    <button class="btn btn-primary" (click)="book(i)">Book</button>
                    <h5 class="pull-right" *ngIf="r.status_kamar == 1; else firstTemp">
                        <div style="color:blue"> Available </div>
                    </h5>
                    <ng-template #firstTemp>
                        <h5 class="pull-right">
                            <div style="color:red"> Not available </div>
                        </h5>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>
</div>